:root {
    --ice-blue: #b2d4d7;
    --robins-egg: #599197;
    --gray-outline: #b9b9b9;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/* typography and icons */

h1{
    color: var(--ice-blue);
    margin-bottom: 10px;
    font-size: 1.82rem;
    -webkit-text-stroke-width: .25px;
    -webkit-text-stroke-color: var(--gray-outline);}

i{
    font-size: 15px;
    cursor: pointer;
}

.liked{
    color: rgb(170, 0, 0);
}

.retweeted {
    color: #009851;
}

/* layout */

main, header{
    width: 90%;
    max-width: 380px;
    margin: 0 auto;
}

header{
    padding-bottom: 5px;
}

.tweet-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

/* textareas + btn */

textarea{
    border: 1px solid var(--ice-blue);
    padding: 5px 8px;
    margin: 0 0 20px 0;
    height: 4.25rem;
    width: 100%;
    font-size: .95rem;
    line-height: 1.25rem;
    resize: none;
    border-radius: 6px;
}

textarea::placeholder {
    color: var(--ice-blue)    
}

textarea:focus {
    outline: transparent !important;
    border-color:var(--robins-egg);
}

button{
    background: var(--ice-blue);    border: none;
    color: white;
    padding: 10px 19px;
    border-radius: 18px;
    width: 100%; 
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    box-shadow: 2px 2px .5px var(--gray-outline);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--gray-outline);
}

/* tweet */

.tweet{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0;
    margin: 15px 0;
}

.tweet-inner{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.tweet-content {
    width: 100%;
}

.tweet-details{
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    padding-right: .4rem;
}

.tweet-detail{
    display: flex;
    gap: 4px;
}

.tweet-reply{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0px;
    margin: 10px 0 10px 40px;
    width: 80%;
}

.handle{
    font-size: 12px;
    font-weight: 500;
    color: #555;
    margin-top: 0;
}

.tweet-text{
    font-size: 14px;
    line-height: 20px;
}

/* images */

.profile-pic{
    border: 1px solid var(--gray-outline);
    border-radius: 50%;
    width: 52px;
}

/* utility */
.hidden{
    display: none;
}